<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Retrieve an address from the DB</title>
</head>
<body>
<div>
    <a>lookup an Address!</a>
    <form action="#" th:action="@{/addressBookRetrievedForm}" th:object="${retrieveAddressForm}" method="post">
        <table>
            <tr>
                <td>Enter the ID:</td>
                <td><input type="text" th:field="*{id}" /></td>
                <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">id Error</td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>